.card-procriare{
  z-index: 2;
  position: absolute;
  margin-block-start: 30% !important;
}

.index-card-procriare{
  z-index: 3;
  position: absolute;
  margin-block-start: 30% !important;
  margin-block-end: auto !important;
  display: block;
}

@media (max-width: 766px) {
  .navbar-ṕrocriare{

  }
}
.navbar-ṕrocriare
{
  background-color: #000000 !important;
  z-index: 5 !important;
  left: 18.5% !important;
  background-color: rgba(0, 0, 0, 0.01);
  opacity: 50% !important;
  box-shadow: 20px 10px 5px rgba(0,0,0,0.2) !important;"
}